// *url('/assets/scss/03.Base/_b.typography.scss')

/*----------------------------------------*\
//#TYPOGRAPHY
\*----------------------------------------*/


/**
 * Definições tipográficas
 */
:root {
    font-family: font(sansserif);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.screen {
    font-size: 1.8rem;
    font-weight: 500;
}

.screen__result {
    white-space: nowrap;
    font-weight: 600;
}

.keyboard__key,
.keyboard__number,
.keyboard__key-aside {
    font-size: 1.5rem;
    text-align: center;
}

.fa-circle {
    font-size: 0.2rem;
}

