// *url('/assets/scss/03.Base/_b.typography.scss')

/*----------------------------------------*\
//#TYPOGRAPHY
\*----------------------------------------*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

;

:root {
    /**
     * Definições tipográficas
     */
    font-family: font(sansserif);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

}