// *url('/assets/scss/01.Settings/_c.mixins.scss')

// ----------------------------------------
// #MIXINS_SASS
// ----------------------------------------

//
@mixin flex($direction: row, $wrap: nowrap, $align-horizontal: center, $align-vertical: center) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $align-horizontal;
    align-items: $align-vertical;
}

//
@mixin size($width: 100%, $height: $width) {
    width: $width;
    height: $height;
}

;

@mixin shadow($z: "") {
    @if $z == "inset" {
        box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.1);
    }

    @else {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    }
}