// *url('/assets/scss/06.Themes/_a.default.scss')

/*----------------------------------------*\
//#THEME: DEFAULT
\*----------------------------------------*/


// Coloque aqui os elementos relativo a cores do tema padrão.
body {
    background-color: color(background);
    background:
        linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

.background {
    background-color: color(surface);
    color: color(onBackground);
}

.screen {
    background-color: color(screen);
    color: color(onScreen);
}

.screen__operation {
    color: light(color(onScreen), 50%);
}

.keyboard__key,
.keyboard__number,
.keyboard__key-aside {
    background-color: color(primary);
    color: color(onPrimary);
}

.keyboard__key,
.keyboard__key-aside {
    background-color: color(secondary);
    color: color(onSecondary);
}

.keyboard__key:hover,
.keyboard__number:hover,
.keyboard__key-aside:hover {
    background-color: dark(color(primary), 70%);
}

// declaração para tornar as teclas de operação de uma cor diferente
.keyboard__key:hover,
.keyboard__key-aside:hover {
    background-color: dark(color(secondary), 70%);
}