// *url('/assets/scss/05.Components/_a.components.scss')

/*----------------------------------------*\
//#COMPONENTS
\*----------------------------------------*/


.background {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4), inset 3px 3px 8px rgb(255, 255, 255, 0.5);
    padding: 20px;
    width: 300px;
}

.screen {
    @include shadow();

    border-radius: 10px;
    padding: 5px 10px;
}

.screen__operation, .screen__result {
height: 3rem;
}

.keyboard {
    margin: 20px 0;
}

.keyboard__key,
.keyboard__number,
.keyboard__key-aside {
    @include shadow();

    border-radius: 5px;
    padding: 5px 0;
}

.keyboard__key:active,
.keyboard__number:active,
.keyboard__key-aside:active {
    @include shadow(inset);
}

