// *url('/assets/scss/05.Components/_a.components.scss')

/*----------------------------------------*\
//#COMPONENTS
\*----------------------------------------*/


.background {
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    width: 300px;
}

.screen {
    @include shadow();

    border-radius: 10px;
    padding: 5px 10px;
}

.keyboard {
    margin: 20px 0;
}

.keyboard__key,
.keyboard__number,
.keyboard__key-aside {
    @include shadow();

    border-radius: 5px;
    padding: 5px 0;
}

.keyboard__key:active,
.keyboard__number:active,
.keyboard__key-aside:active {
    @include shadow(inset);
}

