// *url('/assets/scss/01.Settings/_a.variables.scss');

// ----------------------------------------
// #VARIÁVEIS SASS
// -------------------------------------

// -> Colors:
$colors: (
    'primary'           : blue,
    'secondary'         : green, 
    'background'        : #222,
    'background-cal'    : lightgreen,
    'background-screen' : snow,
    'text'              : #222,

);


// -> breakpoints:
$breakpoints: (
    'small'         : 600px,
    'med'           : 900px,
    'large'         : 1200px,
);


// -> Fonts:
$fonts: (
    "sansserif": (
        'Source Sans Pro',
        'Verdana',
        'Arial',
        'Helvetica',
        sans-serif,
    ),

    "serif": (
        'Source Serif Pro',
        'Times New Roman',
        'Times',
        'Georgia',
        serif,
    ),

    "monospace": (
        'Source Code Pro',
        'Courier',
        monospace,
    )
);

