// *url('/assets/scss/04.Layout/_a.grid.scss')
// Aqui você deverá colocar o layout global de seu site, como o grid com sua estrutura, header, nav, main e footer, por exemplo.

/*----------------------------------------*\
//#GRID
\*----------------------------------------*/


.l-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.l-keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.keyboard__number--lg {
    grid-column: span 2;
}

.keyboard__key--minus {
    grid-column: 4;
    grid-row: 2;
}

.keyboard__key--plus {
    grid-column: 4;
    grid-row: 3;
}

.keyboard__key--equals {
    display: grid;
    place-items: center;
    grid-row: 4 / 6;
    grid-column: 4;
}

