// *url('/assets/scss/05.Components/_a.components.scss')

/*----------------------------------------*\
//#COMPONENTS
\*----------------------------------------*/


.background {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), inset 2px 2px 8px rgb(255, 255, 255, 0.5);
    padding: 20px 35px;
    height: 500px;
    width: 350px;
}

.screen {
    @include shadow();

    border-radius: 10px;
    padding: 5px 20px;
}

.screen__operation,
.screen__result {
    height: 2.5rem;
}

.keyboard {
    margin: 15px 0;
}

.keyboard__key,
.keyboard__number,
.keyboard__key-aside {
    @include shadow();

    border-radius: 5px;
    padding: 5px 0;
}

.keyboard__key,
.keyboard__number,
.keyboard__key-aside:not(.keyboard__key--equals) {
    height: 50px;
}

.keyboard__key:active,
.keyboard__number:active,
.keyboard__key-aside:active {
    @include shadow(inset);
}